@font-face {
	font-family: Neue Haas Unica Pro;
	src: url(Fuentes/NeueHaasUnicaPro.ttf);
  }
.modalDialog {
  position: absolute;
  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;

  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  /* Union */

  position: absolute;
  width: 383px;
  height: 314px;
  left: 819px;
  top: 51px;
  border-radius: 4px;
  /* AM White */

  background: #ffffff;
  /* Top Shadow Banner */
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

.ultimasnoticiasmodal {
  position: absolute;
  width: 143px;
  height: 30px;
  left: 842px;
  top: 72.71px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* AM Med Gray */

  color: #999999;
}

.textm {
  position: absolute;
  width: 161px;
  height: 30px;
  left: 931px;
  top: 330px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */

  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  /* AM Light Blue */

  color: #007cc2;
}

.recmodal {
  position: absolute;
  width: 383px;
  height: 50px;
  left: 819px;
  top: 324px;

  /* AM Ultra Light Blue */

  background: #ebf5fa;
  border-radius: 3px 3px 0px 0px;
  transform: rotate(-180deg);
}

.textCovModal {
  position: absolute;
  width: 214px;
  height: 12.91px;
  left: 907px;
  top: 128.68px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  /* identical to box height, or 81% */

  display: flex;
  align-items: center;

  /* AM Brand Blue */

  color: #0b2343;
}

.text1Mod {
  position: absolute;
  width: 271px;
  height: 40px;
  left: 907px;
  top: 150.44px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* AM Dark Gray */

  color: #666666;
}

.textBigModal {
  position: absolute;
  width: 223px;
  height: 12.91px;
  left: 906px;
  top: 232px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  /* identical to box height, or 81% */

  display: flex;
  align-items: center;

  /* AM Brand Blue */

  color: #0b2343;
}

.text2Mod {
  position: absolute;
  width: 272px;
  height: 36px;
  left: 907px;
  top: 252.48px;

  font-family: Neue Haas Unica Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  /* AM Dark Gray */

  color: #666666;
}

.imgModal1 {
  position: absolute;
  width: 51px;
  height: 50px;
  left: 842px;
  top: 131.71px;
  border-radius: 4px;
}

.imgModal2 {
  position: absolute;
  width: 48.96px;
  height: 48px;
  left: 842.04px;
  top: 235.74px;
  border-radius: 4px;
}